footer {
    display: flex;
    height: 4rem;
    width: 100vw;
    align-items: center;
    padding-left: 5vw;
    margin-top: 5rem;
    gap: 5vw;
    bottom: 0;

    color: #fff3ef;
    background-color: #020381;
}