footer {
    display: flex;
    height: 5rem;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;

    color: #fff3ef;
    background-color: #020381;
}

footer > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

    padding-inline: 5vw;
}
