.menu-select {
    display: flex;
    justify-content: center;
    gap: 2rem;
    text-decoration: underline;
    cursor: pointer;
}

.selected-menu {
    padding-top: 5vh;
    max-width: 66vw;
    height: auto;
}
