/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Onto Our Own Styling!! */
@font-face {
	font-family: 'InriaSerif-Regular';
	src: url('./assets/Inria_Serif/InriaSerif-Regular.ttf');
}
@font-face {
	font-family: 'InriaSerif-LightItalic';
	src: url('./assets/Inria_Serif/InriaSerif-LightItalic.ttf');
}
body {
  background-color: #fff3ef;
  text-decoration: none;
}
.header {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-bottom: 2rem;

}

.title {
	font-family: 'InriaSerif-Regular', Georgia, 'Times New Roman', Times, serif;
	color: #020381;

	font-size: 3.5em; 
}
.italME {
	font-family: 'InriaSerif-LightItalic'
}
.nav {
  font-size: 1.125em;
  display: flex;
  gap: 50px; 

}
.home-wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.hero-img {
    width: 66vw;
	height: auto;
    background-color: lightpink;
	justify-self: center;
	align-self: center;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
	color:inherit;
	text-decoration: none;
}

/*
Colors Reference:
--header_bg_color: #fff3ef
--archive_header_bg_color: rgb(255,243,239)
--footer_bg_color: #b4c4fc
--mobile_menu_toggle_color:#121261 (hamburger)
*/